<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <!-- <img src="/assets/images/logo.png" width="120" height="27" alt="NG Demo"> -->
        NG DEMO
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/form">Form</a>
        </li>
        <li class="dropdown" routerLinkActive="active">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Rxjs/Observables <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active">
              <a routerLink="/observables/simple">Simple</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/observables/error-handling">Error Handling</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/observables/unsub">unsubscribe</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/observables/retry">retry</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/observables/retry-when">retryWhen</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/observables/rxjs-streams">Rxjs Streams</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/observables/rxjs-caching">Rxjs Caching</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/observables/reactive">Reactive</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" routerLinkActive="active">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Event Emitter <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active">
              <a routerLink="/event-emitter/input-output">Input & Output</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/event-emitter/observing-change">Observing Change</a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="main container">
  <router-outlet></router-outlet>
</div>

<footer class="text-center">
  <img class="img-responsive" style="display:inline" width="16" height="16" src="./assets/images/angular.jpg"/> angular <i class="fa fa-heart text-danger"></i>
</footer>
